.container{
    border-radius: 30px;
    font-style: italic;
    background-color: white;
}

.author{
    margin-top: 50px;
    color: black;
    font-style: italic;
    text-align: right;
}

.image{
   margin-top: 30px;
    width: 50px;
}